<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- KaTeX-->
{% if page.katex %}
<link rel="stylesheet" href="/assets/plugins/katex.0.11.1/katex.min.css">
{% endif %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Favicons -->
{% if site.favicon %}
  {% if site.favicon.svg %}
  <link rel="icon" type="image/svg+xml" href="{{ site.favicon.svg | relative_url }}">
  {% endif %}
  {% if site.favicon.ico %}
  <link rel="alternate icon" type="image/x-icon" href="{{ site.favicon.ico | relative_url }}">
  {% endif %}
  {% if site.favicon.png32 %}
  <link rel="alternate icon" type="image/png" sizes="32x32" href="{{ site.favicon.png32 | relative_url }}">
  {% endif %}
  {% if site.favicon.png16 %}
  <link rel="alternate icon" type="image/png" sizes="16x16" href="{{ site.favicon.png16 | relative_url }}">
  {% endif %}
{% endif %}

<!-- end custom head snippets -->
