<div class="social-links">
    <span class="link-group">
      [<a href="{{ site.data.social_links.resume.url }}">{{ site.data.social_links.resume.text }}</a>][<a href="{{ site.data.social_links.cv.url }}">{{ site.data.social_links.cv.text }}</a>]
    </span>
    
    <span class="link-group">
      [LinkedIn:<a href="{{ site.data.social_links.social.linkedin.url }}">{{ site.data.social_links.social.linkedin.text }}</a>][Twitter:<a href="{{ site.data.social_links.social.twitter.url }}">{{ site.data.social_links.social.twitter.text }}</a>][Github:<a href="{{ site.data.social_links.social.github.url }}">{{ site.data.social_links.social.github.text }}</a>]
    </span>
    
    <span class="link-group">
      [{{ site.data.social_links.email }}]
    </span>
  </div>