<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}
</head>

<body>
  <header class="page-header">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}
    <div>
    </div>
    <footer class="site-footer">
      
      {% if page.layout == 'post' %}
      <a href="/writing" class="back-link"><- back to Writing</a>
          {% else %}
          <span class="site-footer-credits" style="text-align: center;">Made with lots of <3 by {{ page.author }}</span>
              {% endif %}
    </footer>
  </main>
</body>

</html>