---
layout: default
---
<!-- Nav Links -->
{% for item in site.data.navigation.pages %}
{% if item.name == "Writing" %}
  <a href="{{item.link}}" alt="{{item.name}}" style="text-transform: uppercase;">{{item.name}}</a>
{% else %}
  <a href="{{item.link}}" alt="{{item.name}}" style="text-transform: uppercase;">{{item.name}}</a> |
{% endif %}
{% endfor %}
<!-- End Nav Links -->

{{ content | replace: '<h2>NEWS</h2>', '<h2>NEWS</h2>
<div class="news-section">' |
  replace: '<h2>EXTRAS</h2>', '</div>
<h2>EXTRAS</h2>' |
replace: '<ul>', '<ul class="linked-list">' |
    replace: '<p><strong>', '<p class="role"><strong class="title">' }}